 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-photoshop-plain colored"></i>
      <i class="devicon-illustrator-line colored"></i>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-laravel-plain-wordmark colored"></i>    
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
    </div>
</div>
